body {
    scroll-behavior: smooth;
}

.form-title {
    text-align: center;
}

.list {
    font-size: 19px;
}

.footer {
    background-color: #141414;
    color: #ddd3dd;
    padding-top: 70px;
}

.footer-headings {
    font-size: 19px;
    font-weight: bold;
}

.footer-subheadings {
    font-size: 17px;
}

.credits {
    text-align: center;
}